bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/LocadoraDeCarros.WebApp/wwwroot/fotos/9be85c44-cb81-4ef8-a03b-d99600e5114akartik-bhattacharjee-vw0AmpZvHZg-unsplash.jpg
/LocadoraDeCarros.WebApp/wwwroot/fotos/b237606e-cdc1-4029-b463-4801752fb2c9kartik-bhattacharjee-vw0AmpZvHZg-unsplash.jpg
/LocadoraDeCarros.WebApp/wwwroot/fotos/20bc0793-a978-40bf-a17a-c2f921dd96d7kartik-bhattacharjee-vw0AmpZvHZg-unsplash.jpg
