bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/LocadoraDeCarros.WebApp/wwwroot/fotos/9be85c44-cb81-4ef8-a03b-d99600e5114akartik-bhattacharjee-vw0AmpZvHZg-unsplash.jpg
/LocadoraDeCarros.WebApp/wwwroot/fotos/b237606e-cdc1-4029-b463-4801752fb2c9kartik-bhattacharjee-vw0AmpZvHZg-unsplash.jpg
/LocadoraDeCarros.WebApp/wwwroot/fotos/20bc0793-a978-40bf-a17a-c2f921dd96d7kartik-bhattacharjee-vw0AmpZvHZg-unsplash.jpg
/.vs/LocadoraDeCarros/FileContentIndex/36734f85-740f-41c2-8f7b-091df6df42fe.vsidx
/.vs/LocadoraDeCarros/FileContentIndex/65558ae5-9ff5-4608-b129-9b1eb8e61c20.vsidx
/.vs/LocadoraDeCarros/FileContentIndex/d3a9bd9f-3b31-4a52-825f-32135135fe9f.vsidx
/.vs/LocadoraDeCarros/FileContentIndex/e74b32ad-5655-4ece-b3e6-3b7457ddd659.vsidx
/.vs/LocadoraDeCarros/FileContentIndex/6c9502b3-86e8-45ef-8fc0-4aa924837646.vsidx
/.vs/LocadoraDeCarros/FileContentIndex/0f423235-1f3a-44c7-8e7a-6c0d160e190f.vsidx
/.vs/LocadoraDeCarros/FileContentIndex/1890340f-7db7-4acb-a519-ab3ba55e3a84.vsidx
/.vs/LocadoraDeCarros/FileContentIndex/5c6b1cd5-6c42-4d9c-bd13-b8fd53be626d.vsidx
/.vs/LocadoraDeCarros/FileContentIndex/6e107ee1-3530-4f9e-b921-926790c8d416.vsidx
.vs
.idea