@model DetalhesAutomovelViewModel

@{
    ViewBag.Title = "Excluir Veiculo";
}

<h2 class="fs-4 mb-3">Excluir Veiculo</h2>

<form class="d-block" asp-action="Excluir">
    <h3 class="fs-semibold fs-5">Deseja Excluir o veiculo <strong>@Model.Modelo</strong> ?</h3>
    <button class="btn btn-danger col-2">Excluir</button>
    <a class="btn btn-dark col-2" href="/automoveis/listar">Voltar</a>
</form>

