@model DetalhesClienteViewModel

@{
    ViewBag.Title = "Excluir Cliente";
}

<form class="d-block" asp-action="Excluir">
    <h3 class="fs-semibold fs-5">Deseja Excluir <strong>@Model.Nome</strong> ?</h3>
    <button class="btn btn-danger col-2">Excluir</button>
    <a class="btn btn-dark col-2" href="/cliente/listar">Voltar</a>
</form>
