@model EditarGrupoAutomoveisViewModel

@{
    ViewBag.Title = "Editar Grupo de Veiculos";
}

<h1 class="fs-5 mb-3">Editar Grupo de Veiculos</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <form class="d-grid" asp-action="Editar">
                <label class="control-label fw-semibold">Grupo:</label>
                <input class="form-control" asp-for="Grupo"/>
                <span class="text-danger fs-6" asp-validation-for="Grupo"></span>
                
                <div class="d-flex">
                    <button class="btn btn-dark col-3 m-2">Editar</button>
                    <a class="btn btn-dark col-3 m-2" href="/grupoautomoveis/listar">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>
